<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./phpunit.php"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="Default">
            <directory>php/tests/svhq/passwordhasher</directory>
        </testsuite>
    </testsuites>
</phpunit>